*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, menu{
    list-style: none;
}

html{
    font-family: 'Tilt Neon', sans-serif;
}

body{
    background-image: url(../img/stacked-waves-haikei.svg);
}

.container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.tasks-container{
    width: 500px;
    margin: 0 auto;
    background-color:cornflowerblue;
    border-radius: 20px;
}

.error{
    color: red;
    padding: 10px;
    
}

/* logo */
.logo img{
    width: 60px;
}

.logo{
    margin-top: 25px;
}

/* new task */

.new-task{
    text-align: center;
}

.add-task{
    padding: 12px 18px;
    border-radius: 15px;
}

.btn{
    padding: 12px;
    border-radius: 15px;
    margin-left: 15px;
}

/* tasks */

.task{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.task:last-child{
    border-bottom: none;
}

.task.done .task-text{
    text-decoration: line-through;
}
